---
- name: Watch for new snow records and alerts
  hosts: localhost

  sources:
     - ansible_ssa.eda.new_snow_record:
         instance: "{{ snow_instance_host }}"
         username: "{{ snow_eda_username }}"
         password: "{{ snow_eda_password }}"
         table: sc_req_item
         interval: 1

     - ansible_ssa.eda.new_snow_record:
         instance: "{{ snow_instance_host }}"
         username: "{{ snow_eda_username }}"
         password: "{{ snow_eda_password }}"
         table: change_request
         interval: 1

     - ansible_ssa.eda.alertmanager:
         host: 0.0.0.0
         port: 5000
         data_host_path: ""
{% raw %}
  rules:    
    - name: Trigger Request - New ServiceNow User
      condition: event.short_description == "Request form for a new Servicenow user"
      action:
        run_workflow_template:
          name: "[WF] New ServiceNow user"
          organization: "Default"
          job_args:
            extra_vars:
              service_request_id: "{{ event.number }}"

    - name: Trigger Request - New Associate
      condition: event.short_description == "Request form for a new associate"
      action:
        run_workflow_template:
          name: "[WF] New Associate"
          organization: "Default"
          job_args:
            extra_vars:
              service_request_id: "{{ event.number }}"
    
    - name: Trigger Change Request -  Deploy AWS Web infrastructure
      condition: event.short_description == "Request for a new AWS bucket"
      action:
        run_workflow_template:
          name: "[WF] Deploy AWS Web Infrastructure"
          organization: "Default"
          job_args:
            extra_vars:
              change_request_id: "{{ event.number }}"

    - name: Trigger Request - Deploy AWS Project
      condition: event.short_description == "Request form for deploying a website in AWS"
      action:
        run_workflow_template:
          name: "[WF] Deploy AWS Web Project"
          organization: "Default"
          job_args:
            extra_vars:
              service_request_id: "{{ event.number }}"

    - name: Trigger Incident - Website is down
      condition: event.alert.status == "firing"
      action:
        run_workflow_template:
          name: "[WF] Remediate AWS Web Project"
          organization: "Default"
          job_args:
            extra_vars:
              instance_url: "{{ event.alert.labels.instance }}"
              repository: "{{ event.alert.annotations.repository }}"
{% endraw %}


